.quest_section{
    .actions{
        .add_button{ 
            display: block;
            cursor: pointer;
            
            &.add_universe{
                margin-bottom: 30px;
            }
        }

        // Choose universe of the quest
        .universe_choice{ 
            display: none;
            position: absolute; left: 50%; translate: -50%;
            padding: 30px;
            background: $blanc;
            border: 2px solid black;

            li{
                margin-bottom: 10px;
                @include zoomhover;
            }

            &.open{ display: block;}
        }

        .subquest_input_container{

            .subquest_input{ padding: 5px 10px; border: 2px solid black;}
            .subquest_input_submit{ cursor: pointer;}

            &:not(.open){ display: none;}
        }
    }
    .quests{
        max-width: 1100px; margin: auto;
        padding: 20px;
        margin-top: 30px;

        .subquest{
            padding: 10px 20px;
            text-align: left;

            .subquest_display{ width: 20px; height: 20px; rotate: 270deg; cursor: pointer;
                &.hidden{ rotate: 180deg;}
            }
            .subquest_infos{
                @include flex; gap: 0 15px;

                // Button to validate quest
                input[type="checkbox"]{ width: 25px; cursor: pointer;}
                .add_subquest, .delete_subquest{ width: 25px; height: 25px; cursor: pointer;
                    &.add_subquest:hover{ filter: invert(20%) sepia(91%) saturate(2781%) hue-rotate(334deg) brightness(84%) contrast(107%);}
                    &.delete_subquest:hover{ filter: invert(20%) sepia(91%) saturate(2781%) hue-rotate(334deg) brightness(84%) contrast(107%);}
                }
                
                &:not(:hover){ .add_subquest, .delete_subquest{display: none;} }
            }
            &.hidden{ display: none}
            &.finished > .subquest_infos span{ text-decoration: line-through;}
            .subquest_input_container{ padding: 0 45px;
                &:not(.open){ display: none;}
            }
        }
    }
}