main.universes{

    .main_container{ 
        text-align: left;
        .root{ 
            padding: 20px 20px;
            border-radius: 10px; box-shadow: -1px 0px 7px 0px #000000;
            background: $blanc;
            cursor: pointer;

            .sub_universe{
                margin: 40px 0 20px 20px;
                padding: 10px;
                border: 2px solid black;

                &.hidden{ display: none;}
            }

            &:not(:last-child){ margin-bottom: 60px;}
        }
    }
}