.quest_manager{

    .add_button_container{
        @include flex; gap: 15px; align-items: center;
        width: max-content; margin: 20px auto;
        cursor: pointer;

        .add{ 
            padding: 10px 15px;
            border: 2px solid black;
            @include zoomhover;
        }

        &:hover .add{ scale: 1.05;

        }
    }
    .add_window{ 
        max-height: 0px;
        overflow: hidden;
        @include animer;
        
        form { 
            padding: 50px;
            background: rgba(0,0,0,0.5);
            
            input{ 
                display: block;
                margin: auto;
                padding: 15px;
                border: 1px solid black;

                &.name{ margin-bottom: 10px;}
            }
            .submit_button{ @include zoomhover; }
        }
        
        &.open { max-height: 400px;}
    }
}